.headerText {
    position:absolute;
    top:2%;
    left:50%;
    transform: translate(-50%,0%);

    font-family:cursive;
}

.grid {
    display:flex;
    justify-content: space-evenly;
}

.grid img {
    border: 2px solid black;
    border-radius:50px;
}



.origami {
    border-radius: 15px;
    background-color:white;

    width:300px;

    font-family: cursive;
}

.menu {
    display:flex;
    justify-content:space-between;
    background-color: black;
    width:100%
}